<div>
    <h2>Login</h2>
    <form [formGroup] = "loginRef" (ngSubmit)="checkUser()" >
        <label>Username</label>
        <input type="text" formControlName="user">
        <br>
        <label>Password</label>
        <input type="password" formControlName="pass">
        <br>
        <input type="submit" value="submit" [disabled]="!loginRef.valid">
        <input type="reset" value="reset">
        <input type="button" value="sign up" (click)="userService.setSignUp()">
    </form>
</div>

